<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>About Us</title>
  </head>
  <div class="main">
    <div class="body">
      <body>
        <nav>
          <a href="./index.html">Home</a>
          <a href="./contactUs.html">Contact Us</a>
        </nav>
        <h1>About Us</h1>
        <p class="p2">
          We are a small online bookstore that loves sharing great books with
          the world.<br />
          Our goal is to help people find stories they enjoy.
        </p>
      </body>
      <footer>Ⓒ 2021 Tania</footer>
    </div>
  </div>
</html>
